.state-section {
  background-color: #0b668d;
  min-width: 300px;
  width: 20vw;
  height: 100%;
  /* overflow: auto; */
}

.state-section .state-info {
  background-color: lightcoral;
  height: 90vh;
  overflow: auto;
}

.add-state-block {
  /* display: fixed; */
  background-color: red;
  text-align: center;
}

.add-state-block #add-state {
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

