.state-section {
  /* background-color: #0b668d; */
  min-width: 300px;
  width: 20vw;
  height: 100%;
  /* overflow: auto; */
}

.state-section .state-info {
  background-color: #282c34;
  height: 90vh;
  overflow: auto;
}

.add-state-block {
  text-align: center;
}

.add-state-block #add-state {
  width: 50%;
  height: 100%;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 5px;
}

.add-state-block #add-state:hover {
  color: white;
  background-color: rgb(56, 170, 56);
}